<div style="background: yellow">
    <marquee>
    <td *ngFor="let n of news"> 
    
        *{{n.title}}.&nbsp;
    
    </td>
    </marquee>
</div>
<div class="container">
    <h2><a routerLink="/login">Click here to Login</a></h2>
          
  
              <div class="container" style="background: cornsilk">
                 
                  <h2>Gallery</h2>
                 
             
            
              <div class="container">
                  <div class="row">
                    <div class="col-xs-4">
                   
                   <img src="assets/5.jpg" class="img-responsive" alt="Image">
                   
                      <p>Image 1</p>
                    </div>

                    <div class="col-xs-4">
                        <img src="assets/6.jpg" class="img-responsive" alt="Image">
                      <p>Image 2</p>
                    </div>

                    <div class="col-xs-4">
                        <img src="assets/20.jpg" class="img-responsive" alt="Image">
                      <p>Image 3</p>
                    </div>

                    <div class="col-xs-4">
                        <img src="assets/19.jpg" class="img-responsive" alt="Image">
                      <p>Image 4</p>
                    </div>

                    <div class="col-xs-4">
                        <img src="assets/21.jpg" class="img-responsive" alt="Image">
                      <p>Image 5</p>
                    </div>

                  </div>
                </div>


              </div>